@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

:root {
    --font0: Host Grotesk, Arial, Helvetica;
}

body {
  animation: fadeIn 1.3s ease-in-out forwards;
}   


body{
    background-color: antiquewhite;
}

header{
    background-image: linear-gradient(to bottom, chocolate, brown);
    margin: -10px;
    height: 280px;
    width: 1866px;
    border-radius: 0px 0px 20px 20px;
    font-family: Host Grotesk;
    min-height: 150px;
    max-height: 600px;
}

#shop{
    font-style: normal;
    font-size: 43px;
    font-variant: normal;
    font-weight: 330;
    text-align: center;
    padding: 35px;
    padding-bottom: 0px;
    width: 330px;
    border-radius: 20px;
    margin: auto;
    outline: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

hr{
    width: 100%;
    height: 5px;
    background-color: #000;
    border: none;
    margin: 5px 0 1px;
}

#descricao{
    font-style: normal;
    font-variant: normal;
    font-weight: 450;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
    width: 330px;
    margin-top: 10px;
    outline: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    line-height: 1.2em;
}

a{
    color: black;
    padding: 9px; 
    margin: 0px;
    border-radius: 10px;
    transition-duration: 0.8s;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 20px;
}

#a1{
    margin-left: 8px;
}

a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#subt{
    text-align: center;
    font-family: Host Grotesk;
    font-weight: 700;
    font-size: 30px;
}

#pesquisar{
  background-color: #000000d2;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font0);
  outline: none;
  float: right;
}

#pesquisar:focus{
    transition: background-color 0.7s;
    background-color: rgb(255, 255, 255);
    color: black;
}

